.userQuestion {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 0;
}

.userQuestion:first-child > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.editButton {
  margin-top: 20px;
}

.editButton,
.qaIcons img {
  cursor: pointer;
}

.questionHeading {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.question {
  font-size: 20px;
  margin-block: 0;
}

.editIconText {
  margin-left: 5px;
  font-size: 14px;
}