.input {
  margin-bottom: 0;
  width: 68%;
  position: fixed;
  bottom: 0;
  background-color: #fff;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #fff;
}

.input textarea[placeholder] {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  opacity: 0.5;
}

.inputPosition {
  position: relative;
  display: flex;
  justify-content: center;
}

.inputPosition textarea {
  width: 700px;
  text-indent: 0;
  padding-left: 10px;
  padding-right: 40px;
  padding-block: 20px;
}

.icon {
  position: absolute;
  top: 31px;
  cursor: pointer;
}

.searchIcon {
  left: 13px;
}

.micIcon {
  right: 13px;
}

.micListening {
  position: absolute;
  right: 10px;
  bottom: 40px;
}

.inputContainer button {
  width: 72px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.inputValueZero {
  background-color: #4c70d6;
  height: 63.3px;
  position: 'initial';
  cursor: default;
}

.adviceNote {
  opacity: 0.5;
  text-align: center;
  width: 68%;
  margin-inline: auto;
  font-size: 12px;
  position: relative;
  top: -5px;
}

@media screen and (max-width: 1111px) {
  .inputPosition textarea {
    width: 700px;
  }
}

@media screen and (max-width: 991px) {
  .inputPosition textarea {
    width: 500px;
  }
}

@media screen and (max-width: 786px) {
  .adviceNote {
    display: none;
  }
}

@media screen and (max-width: 645px) {
  .inputPosition textarea {
    width: 400px;
  }
}

@media screen and (max-width: 542px) {
  .inputPosition textarea {
    width: 300px;
  }
}

@media screen and (max-width: 441px) {
  .inputPosition textarea {
    width: 250px;
  }
} 

@media screen and (max-width: 392px) {
  .inputPosition textarea {
    width: 150px;
  }
} 
