.buttons {
  margin-top: 10px;
}

.mediaImage {
  position: relative !important;
  color: #000 !important;
  background-color: #fff !important;
  border: 1px solid #c5c4d4 !important;
  width: 700px !important;
}

.mediaImage::before {
  position: absolute;
  background-repeat: no-repeat;
  left: 20px;
  top: 12px;
}

.mediaImage:nth-child(1):before {
  content: url('../../images/googleLogo.png');
}

.mediaImage:nth-child(2):before {
  content: url('../../images/facebookLogo.png');
}

.mediaImage:nth-child(3):before {
  content: url('../../images/appleLogo.png');
}

.buttonMg {
  margin-block: 20px;
}

@media screen and (max-width: 760px) {
  .mediaImage {
    width: 500px !important;
  }
}

@media screen and (max-width: 572px) {
  .mediaImage {
    width: 300px !important;
  }
}