.inputPassword {
  position: relative;
}

.showPassword {
  position: absolute;
  right: 15px;
  top: 26px;
  font-weight: 600;
  cursor: pointer;
  background-color: #fff;
}

.paragraph {
  display: flex;
}

.paragraph span {
  margin-left: 5px;
}
