.main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.responseDetailCommunity,
.responseDetailNonCommunity {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
}

.responseDetailCommunity {
  width: 100%;
}

.responseDetailNonCommunity {
  max-height: 75vh;
}

.refresh {
  display: grid;
  place-content: center;
  height: calc(100vh - 81px);
  text-align: center;
}
