.profile {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-right: 24px;
}

.profile img {
  width: 56px;
  height: 56px;
  border: 2px solid #5ebd75;
  border-radius: 50%;
}

.profilePageImage {
  border-color: #5ebd75;
}

.nonProfilePageImage {
  border-color: transparent;
}

.heading {
  font-size: 1rem;
  margin-block: 0;
  margin-right: 24px;
  font-family: 'Lato', sans-serif;
}

.heading.nonProfileMg {
  margin-left: 0 !important;
}

.paragraph {
  font-size: 14px;
  margin-block: 0;
}
