.cardForm {
  position: relative;
  top: 20px;
  width: 100% !important;
}

.cardForm hr {
  border: 0;
  border-top: 1px solid #c5c4d4;
}

.qa {
  width: 100%;
  max-height: 100vh;
  overflow-y: auto;
  margin-top: -5px;
  padding: 20px;
}

.ht {
  width: 100%;
  overflow-y: auto;
  margin-top: -5px;
  padding: 20px;
  height: 60vh;
}

.qa::-webkit-scrollbar {
  display: none;
}

.viewLikes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postView {
  text-transform: uppercase;
  font-size: 12px;
}

.likesSection {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 12px;
}

.likes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #e8e7ee;
  background-color: #fff;
  border-radius: 999px;
  padding: 5px 10px;
}

.likes span {
  font-family: 'Lato', sans-serif;
}

.likes img {
  width: 16px;
  height: 16px;
}

.tags {
  margin-block: 20px;
}

.chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.heading,
.paragraph {
  margin-block: 0;
}

.heading {
  font-size: 20px;
}

.paragraph {
  font-size: 16px;
  opacity: 0.5;
}
