.alert {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.formVerification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-inline: auto;
  margin-block: 50px;
  width: 700px;
  height: calc(100vh - 81px);
}

.formVerification input {
  width: 700px;
}

.heading,
.paragraph {
  margin-block: 0;
}

.heading {
  font-size: 16px;
}

.newHeading {
  font-size: 30px;
}

button:disabled {
  background-color: #ddd;
  border: 1px solid #ddd;
  color: #555;
  pointer-events: none;
}
