.successMessage {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  border-radius: 8px;
  margin-block: 30px;
  width: 20%;
  text-align: center;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alertContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeAlert {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

/* modal */
.login {
  text-align: center;
  font-size: 20px;
}

.text {
  text-align: center;
}

.modalContainer button {
  background-color: #4c70d6;
  color: #fff;
  padding-block: 10px;
  border-radius: 8px;
}

.modalContainer a {
  color: #4c70d6;
  border: none;
}

.passwordInput {
  position: relative;
}

.showPassword {
  position: absolute;
  right: 0;
  background-color: #fff;
  padding: 3px;
  top: 8px;
  cursor: pointer;
  font-weight: 600;
}
.modalContainer .forgotPassword {
  display: flex;
  justify-content: flex-end;
}

/* .modalContainer a:hover {
  border: 0;
  border-bottom: 1px solid #4c70d6
} */

.socials {
  display: flex;
  justify-content: space-between;
  margin-block: 20px;
  gap: 10px
}

.socials img {
  width: 24px;
  height: 24px;
  border: 1px solid #c5c4d4;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.error {
  border: 1px solid #f00;
}

.registerLink {
  margin-top: 10px;
}