.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .loading-ball {
    width: 16px;
    height: 16px;
    /* 007bff */
    background-color: #4c70d6;
    border-radius: 50%;
    margin: 0 10px;
    animation: bounce 1s infinite alternate;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px);
    }
  }
  
  .loading-ball:nth-child(2) {
    animation-delay: 0.1s;
  }
  
  .loading-ball:nth-child(3) {
    animation-delay: 0.2s;
  }
  