.main {
  position: relative;
}

.main::before {
  position: absolute;
  content: 'Community';
  color: #514f6d;
  font-size: 20px;
  top: -35px;
  left: 45px;
}

.banner {
  position: relative;
  background: #4c70d6;
  margin-top: 60px;
  background-color: #4c70d6;
  color: #f9f9fb;
}

.banner::after {
  position: absolute;
  content: url('../../images/rightGroupBannerProfileImage.png');
  right: 44px;
  top: 30px;
}

.banner::before {
  position: absolute;
  content: url('../../images/leftGroupBannerProfileImage.png');
  left: 44px;
  top: 30px;
}

.heading {
  font-size: 48px;
  margin-block: 0;
  color: #f9f9fb;
}

.paragraph {
  font-size: 16px;
  margin-block: 2px;
}

.topics {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-inline: 50px;
  margin-top: 30px;
}

.topics:last-child {
  margin-top: 10px;
}

.topics .card:hover {
  background-color: #fff;
  border: 1px solid #4c70d6;
}

.topics form:first-child,
.topics form:last-child {
  position: relative;
}

.topics form:first-child input {
  padding-left: 30px;
}

.topics form:last-child {
  display: flex;
  width: 40%;
  gap: 10px;
}

.topics form:last-child button {
  background-color: #fff;
  border: 1px solid #e8e7ee;
  color: #514f6d;
  gap: 4px;
}

.topics form:last-child button {
  display: flex;
  justify-content: center;
  align-items: center;
}
