.sidebar {
  width: 265px;
  background-color: #f9f9fb;
  position: fixed;
  top: 81px;
  left: 0;
  height: calc(100vh - 81px);
  overflow-y: auto;
  border-right: 1px solid #e8e7ee;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
}

.zIndex1 {
  z-index: 1;
}

.zIndex10 {
  z-index: 10;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.newChat {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: none;
}

.dGap {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.button {
  display: flex;
  justify-content: space-between;
  border: 1px solid #4c70d6;
  background-color: #fff;
  align-items: center;
  padding: 12px;
  padding-inline: 24px;
  border-radius: 999px;
  width: 208px;
  color: #4c70d6;
  box-shadow: 0px 0px 16px 0px #172b641a;
  margin-top: 20px;
}

.section {
  border-top: 1px solid #e8e7ee;
  width: 95%;
  position: relative;
  left: 5%;
  padding-block: 14px;
  padding-left: 8px;
}

.section:first-child {
  border-top: none;
}

.paragraph {
  font-size: 12px;
  font-family: 'Outfit', sans-serif;
  text-transform: uppercase;
  opacity: 0.5;
  margin-left: 18px;
}

.address {
  display: flex;
  justify-content: space-between;
  width: 180px;
}

.main:nth-child(1) .tab {
  cursor: pointer;
}

.tab + button {
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.section:last-child .paragraph {
  text-transform: inherit;
}

.main:nth-child(2) .section:last-child .tab:first-child {
  font-size: 12px;
  margin-right: 24px;
  margin-block: 1rem;
  line-height: 1.55;
}

.tab {
  margin-block: 20px;
  padding: 10px 0 10px 20px;
}

.tab:hover,
.active {
  background-color: #e8e7ee80;
  border-radius: 8px;
  width: 200px;
}

.section .tab:last-child {
  margin-bottom: 0;
}

.main:nth-child(2) .section:first-child {
  border-top: 1px solid #e8e7ee;
}

.tab button {
  border: 0;
  background-color: transparent;
  display: flex;
  width: 100%;
}

.none {
  display: none;
}

.flex {
  display: flex;
}

@media screen and (min-width: 1112px) {
  .sidebar {
    display: flex;
  }
}

@media screen and (max-width: 1111px) {
  .overlay {
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.1);
    position: fixed;
    left: 265px;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 300;
  }
}