.symptom-heading {
  text-align: center;
}

.heading {
  margin-block: 0;
  color: #514f6d;
  font-size: 28px;
}

.paragraph {
  margin-top: 5px;
  margin-bottom: 30px;
}

.font {
  font-size: 20px;
}
