.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-inline: auto;
  gap: 1rem;
}

.cards {
  scrollbar-width: 0;
}

.cards::-webkit-scrollbar {
  display: none;
}

.openViewMore {
  height: 355px;
  overflow-y: auto;
}

.closeViewMore {
  height: auto;
}

.cardCheckbox {
  border: 1px solid #e8e7ee;
  cursor: pointer;
  height: 37px;
  margin-block: 0;
  background-color: #fff;
}

.completeCheckbox {
  background-color: transparent;
}

.inCompleteCheckbox {
  margin-block: 0;
  background-color: #4c70d6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.label {
  display: flex;
  align-items: center;
  height: 37px;
  margin-left: 1rem;
  gap: 8px;
  font-size: 14px;
  cursor: pointer;
}

.label input {
  border: 1px solid #514f6d;
  cursor: pointer;
}

.label input + div {
  padding-inline: 10px;
}

.textCenter {
  display: flex;
  justify-content: center;
}

.nonLabel input {
  display: none;
}

.nonInputValue {
  border: 1px dashed #e8e7ee;
}

@media screen and (max-width: 767px) {
  .cards {
    width: 95%;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 687px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 565px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
  }
}
