.inputContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.input {
  border-radius: 4px;
  text-indent: 20px;
  padding-block: 15px;
  width: 100%;
  margin-block: 10px;
}

input[type='checkbox'] {
  margin-left: -3px;
  width: 15px;
  height: 15px;
}
