.inputContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.input {
  border-radius: 4px;
  text-indent: 20px;
  padding-block: 15px;
  width: 100%;
  margin-block: 10px;
}

.input-label {
  position: absolute;
  left: 20px;
  top: 25.4px;
  opacity: 0;
  transition: top 0.3s, font-size 0.3s, opacity 0.3s;
  pointer-events: none;
  background-color: #f9f9fb;
  padding: 4px;
  cursor: pointer;
}

.input-label span {
  cursor: pointer;
  user-select: none;
  z-index: 200;
  pointer-events: auto;
}

.input-field:focus + .input-label,
.input-field:not(:placeholder-shown) + .input-label {
  top: 0;
  font-size: 12px;
  opacity: 1;
}

input[type='checkbox'] {
  margin-left: -3px;
  width: 15px;
  height: 15px;
}
