.info {
  margin-top: -13px;
}
.showPassword {
  position: absolute;
  right: 15px;
  top: 26px;
  font-weight: 600;
  cursor: pointer;
  background-color: #fff;
}

.form button {
  margin-top: 30px;
}

.register {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-block: 10px;
  height: 45px;
}

.forgotPassword {
  margin-top: 10px;
  color: #4c70d6;
  text-decoration: none;
  border: none;
  padding-bottom: 5px;
  display: flex;
  justify-content: flex-end;
}

.registerUser {
  justify-content: flex-start;
}

.text {
  margin-top: 0;
  padding-bottom: 0;
}
