.alert {
  display: flex;
  gap: 12px;
  padding: 15px;
}

.paragraph {
  margin: 0;
}

/* .successColor,
.errorColor {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
  color: #fff;
}

.successColor {
  background-color: green;
}

.errorColor {
  background-color: #f00;
}

.statusColor:hover,
.errorColor:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
} */
