.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  max-width: 700px;
  margin-inline: auto;
}

.Main {
  min-height: calc(100vh - 81px);
  position: relative;
  top: 81px;
  width: calc(100% - 265px);
  margin-left: auto;
}

.Detail {
  width: 60%;
  margin: auto;
  overflow-y: auto;
}
.Detail::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1111px) {
  .Main {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .Detail {
    width: 90%;
  }
}