.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  max-width: 700px;
  margin-inline: auto;
}

.Main {
  min-height: calc(100vh - 81px);
  position: relative;
  top: 81px;
  width: calc(100% - 265px);
  margin-left: auto;
}

.Detail {
  width: 55%;
  margin: auto;
  margin-block: 80;
  overflow-y: auto;
}
.Detail::-webkit-scrollbar {
  display: none;
}
