body {
  font-family: 'Lato', sans-serif;
  color: #514f6d;
}

form {
  width: 700px;
}

.heading {
  color: #1f1e2a;
  font-size: 24px;
  font-weight: 600;
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
  margin-block: 20px;
}

.paragraph {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-block: 10px;
  line-height: 1.55;
}

.logo {
  background-color: #dee4f7;
  width: 56px;
  height: 56px;
  border: 1px solid #c5c4d4;
  border-radius: 50%;
  padding: 10px;
}

a {
  color: #514f6d;
  text-decoration: none;
  border-bottom: 1px solid #514f6d;
}

button,
label {
  cursor: pointer;
}

button,
input {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  border: 1px solid #c5c4d4;
  color: #514f6d;
}

textarea::placeholder,
textarea::-moz-placeholder,
textarea::-webkit-input-placeholder {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  opacity: 0.5;
}
