.heading,
.usageInfoHeading {
  color: #514f6d;
}

.heading {
  font-size: 24px;
  font-weight: 400;
  margin-block: 0;
}

.usageInfoHeading {
  font-size: 20px;
}

.cardContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.card {
  background-color: transparent;
  width: 44%;
  padding: 15px;
}

.cardMg {
  margin: 0;
  margin-top: -10px;
}

.iconRadio {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card input {
  border: 1px solid #c5c4d4;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.proceedButton {
  margin-top: 30px;
}
